html
{
    font-family: raleway;
}

body
{
    margin: 0;
}

/* Eléments principaux de la page */

h1, h2
{
    font-size: 20px;
}

h3
{
    font-size: 18px;
}

h4, p, a
{
    font-size: 16px;
}

a:hover
{
    color: #0065FC;
}

a
{
    text-decoration: none;
    color: black;
}

:root
{
    --bluecolor: #0065FC;
    --bluelightcolor: #DEEBFF;
    --greycolor: #F2F2F2; /* Pour meilleur contraste redcolor #bd1d1d; */
    --darkgreycolor: #B1B1B14B;
    --whitecolor: white;
}

.tarif
{
    font-weight: bold;
}

/* Header */

.bloc_header
{
    width: 91%;
    margin: 25px auto 0 auto;
    padding: 25px 25px 10px 25px;
}

.header-logo-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img
{
    width: 23%;
}

.inscription-portable
{
    display: none;
}

/* Navigation */

.liste-barre-de-nav
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 10px;
}

.nav-1-2
{
    color: black;
    padding: 50px 20px 0 20px;
}

.nav-1-2:hover
{
    border-top: 1px solid var(--bluecolor);
    color: var(--bluecolor);
}

.inscription
{
    color: var(--bluecolor);
    font-weight: bold;
    padding: 20px 24px 0 20px;
}

/* Recherche */

.recherche h1
{
    margin: 20px 0 5px 0;
}

.rechercher
{
    margin-top: 20px;
}

.rechercher .fa-map-marker-alt
{
    position: relative;
    font-size: 0.9em;
    width: 25px;
    text-align: center;
    padding: 15px 8px 9px 8px;
}

.rechercher .recherche
{
    font-size: 14px;
    font-weight: bold;
    width: 180px;
    height: 39px;
    border: 2px var(--greycolor) solid;
    border-left: 41px var(--greycolor) solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: -45px;
    padding-left: 10px;
}

input::placeholder
{
    position: relative;
    left: 10px;
    color: black;
}

.recherche:focus
{
    outline: none;
}

.clique-1
{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--bluecolor);
    color: var(--whitecolor);
    width: 120px;
    height: 45px;
    border: none;
    border-left: 2px var(--greycolor) solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -5px;
    cursor: pointer;
}

.clique-1:focus
{
    outline: none;
}

.clique-2
{
    display: none;
}

.filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.filtres h3
{
    margin-right: 10px;
    padding-top: 3px;
}

.filtres-divers
{
    border: 1px var(--greycolor) solid;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 10px 20px 9px 40px;
}

.filtres i
{
    position: absolute;
    background-color: var(--bluelightcolor);
    color: var(--bluecolor);
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 2.5;
    border: 1px var(--bluelightcolor) solid;
    border-radius: 30px;
    margin-top: -11px;
    margin-left: -42px;
}

.filtres a
{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.infos
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.infos i
{
    font-size: 11px;
    color: var(--bluecolor);
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 2.1;
    border: 1px var(--greycolor) solid;
    border-radius: 30px;
}

.infos p
{
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}

/* Hébergement */

.section-hebergement
{
    display: flex;
    justify-content: center;
    width: 91%;
    margin: 15px auto;
    padding: 0 25px 10px 25px;
}

.logement
{
    background-color: var(--greycolor);
    width: 70%;
    border-radius: 15px;
    margin-right: 20px;
    padding: 20px 25px;
}

.logement h2
{
    width: 97%;
    margin: 16px auto;
}

.emplacement-choix-du-logement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.emplacement-choix-du-logement a
{
    background-color: var(--whitecolor);
    width: 29%;
    border-radius: 15px;
    box-shadow: 0 0 6px 3px var(--darkgreycolor);
    margin: 10px 5px 25px 5px;
    padding: 5px;
}

.choix-du-logement img
{
    width: 100%;
    height: 145px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
}

.caracteristique
{
    margin: 0 10px 10px 10px;
}

.caracteristique h4,p
{
    margin: 5px 0;
}

.etoile i
{
    color: var(--bluecolor);
}

.etoile .light
{
    color: var(--bluelightcolor);
}

.afficher-plus a
{
    display: block;
    font-weight: bold;
    font-size: 14px;
    width: 97%;
    margin: 0 auto;
    padding-top: 15px;
}

/* Aside */

.les-plus-populaire
{
    background-color: var(--greycolor);
    border-radius: 15px;
    margin-left: 20px;
    padding: 20px 25px;
}

.titre-aside
{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.titre-aside h2
{
    margin: 16px 0;
}

.titre-aside i
{
    font-size: 20px;
    line-height: 2.7;
}

.populaire
{
    background-color: var(--whitecolor);
    width: 92%;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 2px var(--darkgreycolor);
    margin: 20px auto;
    padding: 5px;
}

.choix-du-logement-populaire
{
    display: flex;
}

.choix-du-logement-populaire img
{
    height: 168px;
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.caracteristique-populaire
{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.caracteristique-populaire h4
{
    margin: 8px 0 5px 0;
}

.etoile-populaire
{
    color: var(--bluecolor);
    margin-top: auto;
    margin-bottom: 8px;
}

.etoile-populaire .light
{
    color: var(--bluelightcolor);
}

/* Activité */

.section-activité
{
    width: 91%;
    margin: 40px auto;
    padding: 0 25px;
}

.emplacement-choix-de-l-activité
{
    display: flex;
    justify-content: space-between;
}

.emplacement-choix-de-l-activité h4
{
    margin: 10px 0;
    padding-left: 15px;
}

.choix-de-l-activité-vieux-port,.choix-de-l-activité-parc-national-des-calanques
{
    background-color: var(--whitecolor);
    width: 25%;
    height: 560px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 2px var(--greycolor);
    margin: 0 10px 10px 0;
}

.choix-de-l-activité-parc-national-des-calanques
{
    margin-left: 40px;
}

.choix-de-l-activité-vieux-port img,.choix-de-l-activité-parc-national-des-calanques img
{
    width: 100%;
    height: 91%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
}

.choix-de-l-activité-bloc-1,.choix-de-l-activité-bloc-2
{
    width: 25%;
    margin-left: 30px;
}

.choix-de-l-activité-fort-de-pomegues
{
    background-color: var(--whitecolor);
    height: 307px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 2px var(--greycolor);
    margin-bottom: 35px;
}

.choix-de-l-activité-fort-de-pomegues img
{
    width: 100%;
    height: 84%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
}

.choix-de-l-activité-iles-du-frioul
{
    background-color: var(--whitecolor);
    height: 218px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 2px var(--greycolor);
    margin-bottom: 10px;
}

.choix-de-l-activité-iles-du-frioul img
{
    width: 100%;
    height: 77%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
}

.choix-de-l-activité-notre-dame-de-la-garde,.choix-de-l-activité-parc-longchamp
{
    background-color: var(--whitecolor);
    width: 100%;
    height: 262px;
    border-radius: 15px;
    box-shadow: 1px 2px 3px 2px var(--greycolor);
}

.choix-de-l-activité-bloc-2 img
{
    width: 100%;
    height: 81%;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.choix-de-l-activité-notre-dame-de-la-garde
{
    margin-bottom: 35px;
}

/* Footer */

.footer
{
    font-size: 18px;
    background-color: var(--greycolor);
}

.nav-footer
{
    display: flex;
    justify-content: flex-start;
    width: 91%;
    margin: 0 auto;
    padding: 15px 25px 35px 25px;
}

.a-propos,.nos-hebergements,.assistance
{
    margin: 0 auto 0 0;
}
