html
{
    font-family: raleway;
}

/* Eléments principaux de la page */

h1,h2
{
    font-size: 24px;
}

h3
{
    font-size: 18px;
}

a:hover
{
    color: #0065FC;
}

a
{
    text-decoration: none;
    color: black;
}

:root
{
    --bluecolor: #0065FC;
    --bluelightcolor: #DEEBFF;
    --greycolor: #F2F2F2;
    --whitecolor: whitesmoke;
}

/* Header */

header
{
    margin: 25px 25px 0 25px;
    padding: 25px 25px 10px 25px;
    max-width: 1700px;
} 

.header-logo-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* Navigation */

.liste-barre-de-nav
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 10px;
}

.nav-1-2
{
    color: black;
    padding: 50px 20px 0 20px;
}

.nav-1-2:hover
{
    border-top: 1px solid var(--bluecolor);
    color: var(--bluecolor);
}

.inscription
{
    color: var(--bluecolor);
    font-weight: bold;
    padding: 20px 20px 0 20px;
}

/* Recherche */

.recherche h2
{
    margin-bottom: 5px;
}

.rechercher
{
    margin-top: 20px;
}

.rechercher .fa-map-marker-alt
{
    background-color: var(--greycolor);
    height: 25px;
    width: 25px;
    margin: auto;
    padding: 15px 8px 9px 8px;
    text-align: center;
    font-size: 1.3em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.rechercher .recherche
{
    position: relative;
    right: 5px;
    bottom: 2px;
    width: 200px;
    height: 44px;
    padding-left: 10px;
    border: 2px solid var(--greycolor);
    font-size: 16px;
    font-weight: bold;
}

input::placeholder
{
    position: relative;
    left: 10px;
    color: black;
}

.recherche:focus
{
    outline: none;
}

.clique-1
{
    margin-left: -10px;
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding-top: 2px;
    background-color: var(--bluecolor);
    color: var(--whitecolor);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.clique-1:focus
{
    outline: none;
}

.filtres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.filtres-divers
{
    border: 1px var(--greycolor) solid;
    border-radius: 30px;
    padding-right: 20px;
    margin-left: 20px;
}

.filtres i
{
    border: 1px var(--bluelightcolor) solid;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    color: var(--bluecolor);
    background-color: var(--bluelightcolor);
    text-align: center;
    vertical-align: middle;
    line-height: 2.4;
    margin-left: -5px;
}

.filtres a
{
    padding-left: 10px;
    font-size: 1em;
    font-weight: bold;
}

.infos
{
    display: flex;
    margin-top: 20px;
}

.infos i
{
    border: 1px var(--greycolor) solid;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    color: var(--bluecolor);
    text-align: center;
    line-height: 1.4;
    margin-top: 1px;
}

.infos p
{
    margin-left: 10px;
    text-align: center;
}

/* Hébergement */

.section-hebergement
{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 25px 10px 25px;
    padding: 0 25px 10px 25px;
}

.logement
{
    border-radius: 20px;
    background-color: var(--greycolor);
    flex: 100%;
    height: auto;
    padding: 25px;
    width: 66%;
    flex: 66%;
    margin-right: 15px;
}

.logement h1
{
    padding-left: 17px;
}

.emplacement-choix-du-logement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.emplacement-choix-du-logement a
{
    background-color: var(--whitecolor);
    width: 29%;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px;
}

.choix-du-logement img
{
    height: 115px;
    width: 100%;
    object-fit: cover;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow:hidden
}

.caracteristique
{
    margin: 0 10px 10px 10px;
}

.caracteristique h4,p
{
    margin: 5px 0 5px 0;
}

.etoile i
{
    color: var(--bluecolor);
}

.afficher-plus a
{
    padding-left: 17px;
    font-size: 18px;
    font-weight: bold;
}

/* Aside */

.les-plus-populaire
{
    border-radius: 20px;
    background-color: var(--greycolor);
    height: auto;
    padding: 25px;
    width: 30%;
    flex: 30%;
    margin-left: 15px;
}

.titre-aside
{
    display: flex;
    justify-content: space-between;
}

.titre-aside h1
{
    padding-left: 10px;
    margin: 20px 0 20px 0;
}

.titre-aside i
{
    line-height: 4;
}

.emplacement-choix-du-logement-populaire
{
    background-color: var(--whitecolor);
    width: 350px;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px;
}

.choix-du-logement-populaire
{
    display: flex;
}

.choix-du-logement-populaire img
{
    height: 145px;
    width: 140px;
    min-width: 170px;
    max-width: 175px;
    object-fit: cover;
    margin: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow:hidden
}

.caracteristique-populaire
{
    padding-left: 15px;
}

.etoile-populaire
{
    color: var(--bluecolor);
}

/* Activité */

.section-activité
{
    margin: 10px 25px 10px 25px;
    padding: 0 25px 0 25px;
}

.emplacement-choix-de-l-activité
{
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.emplacement-choix-de-l-activité h3
{
    padding-left: 15px;
}

.choix-de-l-activité-vieux-port,.choix-de-l-activité-parc-national-des-calanques
{
    background-color: var(--whitecolor);
    width: 290px;
    margin: 0 10px 10px 0;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px;
}

.choix-de-l-activité-vieux-port img,.choix-de-l-activité-parc-national-des-calanques img
{
    height: 410px;
    width: 290px;
    object-fit: cover;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow:hidden
}

.choix-de-l-activité-bloc-1,.choix-de-l-activité-bloc-2
{
    margin: 0 20px 0 20px;
}

.choix-de-l-activité-fort-de-pomegues
{
    background-color: var(--whitecolor);
    width: 290px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px;
    margin-bottom: 30px;
}

.choix-de-l-activité-fort-de-pomegues img
{
    height: 170px;
    width: 290px;
    object-fit: cover;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow:hidden
}

.choix-de-l-activité-iles-du-frioul
{
    background-color: var(--whitecolor);
    width: 290px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px;
    margin-bottom: 10px;
}

.choix-de-l-activité-iles-du-frioul img
{
    height: 135px;
    width: 290px;
    object-fit: cover;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow:hidden
}

.choix-de-l-activité-notre-dame-de-la-garde,.choix-de-l-activité-parc-longchamp
{
    background-color: var(--whitecolor);
    width: 290px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px;
    margin-bottom: 10px;
}

.choix-de-l-activité-bloc-2 img
{
    height: 153px;
    width: 290px;
    object-fit: cover;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow:hidden
}

.choix-de-l-activité-notre-dame-de-la-garde
{
    margin-bottom: 28px;
}

/* Footer */

.footer
{
    margin: 40px 0 0 0;
    background-color: var(--greycolor);
    font-size: 18px;
}

.nav-footer
{
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin-left: 50px;
    padding: 10px 0 10px 0;
}

.nav-footer p
{
    font-size: 18px;
}